@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1460px;
  padding: 0 3rem;
  width: 100%;
  margin: 0 auto;
}

.react-multi-carousel-dot button {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  transition: 0.3 all ease;
}

.small-swiper .react-multi-carousel-dot button {
  width: 6px;
  height: 6px;
}

.react-multi-carousel-dot--active button {
  background: #010431;
  transition: 0.3 all ease;
}

.small-swiper .react-multiple-carousel__arrow {
  height: 8px;
}
.react-multiple-carousel__arrow:hover {
  background: rgba(255, 255, 255, 0.4);
}

.react-multiple-carousel__arrow--right {
  right: 15px;
}

.react-multiple-carousel__arrow--left {
  left: 15px;
}
